body {
  background-color: blue;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.question-container {
  width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 20px 16px black;
  padding: 20px;
  text-align: center;
  position: relative;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.options button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.options button:nth-child(1) {
  background-color: #4CAF50;
  /* Verde */
}

.options button:nth-child(2) {
  background-color: #f44336;
  /* Vermelho */
}

.options button:nth-child(3) {
  background-color: #2196F3;
  /* Azul */
}

.options button:nth-child(4) {
  background-color: #FF9800;
  /* Laranja */
}

.options button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#timer {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.question {
  font-size: 20px;
  margin-bottom: 20px;
}